*{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    background-color: rgb(240, 240, 240);
}

h2{
    font-weight: 900;
 } 

section{
    padding-top: 70px;
    padding-bottom: 70px;
}

section h2{
    font-size: 30px;
    text-align: center;
    width: 100%;
}

a, a:hover{    
    text-decoration: none;
    color: inherit;
}

html{
    scroll-behavior: smooth;
    transition: ease;
}

footer{
    text-align: center;
    font-size: 14px;
    padding: 30px 0;
    border-top: solid 2px rgba(0, 0, 0, 0.096);
    border-bottom: solid 2px rgba(0, 0, 0, 0.096);
    color: rgb(114, 112, 112);
}

textarea {
    width: 100%;
    height: 200px;
    border: 2px solid;
    margin-bottom: 8px;
    padding: 10px;
    resize: none;
}

.nav-head{
    opacity: 70%;
}

.nav-bar{
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.4s;
    background-color: white;
    z-index: 999;
}
.nav-bar a{
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1em;
    font-size: 20px;
}
.nav-bar a:hover {
    background-color: rgba(161, 161, 161, 0.055);
  }

.main-body{
    padding-top: 6vw;
    padding-bottom: 30px;
}
.main-body h1{
      font-size: 8vw;
}

.right-border-align{
    text-align: right;
    border-right: solid 2px black;
    padding-right: 30px;
    font-size: 17px;
}

.left-border-align{
    padding-left: 30px;
    font-size: 17px;
}

.main-body p{
    font-size: 25px;
    /* word-spacing: 20px; */
    /* text-indent: 50px; */
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.responsive-img {
    width: 100%;
    height: auto;
    display: block;
}

.greyscale{
    -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
}

.greyscale:hover{
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}
.invert {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.invert50 {
    -webkit-filter: invert(50%);
    filter: invert(50%);
}

.blink-anim{
    animation: blink .4s infinite;
    font-size: inherit;
    font-weight: inherit;
}

.highlighted{
    font-weight: 800;
    color: rgb(1, 34, 221);
    font-family: inherit;
    font-size: inherit;
}

.works-card{
    text-align: center;
    padding: 30px;
    margin-bottom: 70px;
    margin-top: 70px;
}

.works-card:hover{
    background-color: rgba(255, 255, 255, 0.692);
}

.works-card a{
    text-decoration: none;
    border: 2px solid rgba(0, 0, 0, 0.486);
    border-radius: 40px;
    padding: 15px;
    transition: 0.2s;
    transition-timing-function: linear;
}

.works-card:hover a{
    padding: 20px;
    border-radius: 50px;
}

.works-card h1{
    font-size: 20px;
    font-weight: 900;
    background-color: transparent;
}

.works-card p{
    font-size: 18px;
    font-weight: 100;    
    background-color: transparent;
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@media screen and (max-width: 767px) {
    .nav-bar a{
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
        text-align: right;
        background-color: rgba(128, 128, 128, 0.055);
    }
    .main-body{
        padding-top: 6em;
    }
    .main-body h1{
        font-size: 45px;
    }
    .main-body p{
        font-size: 20px;
    }
    .responsive-img {
        width: 50%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .main-body{
        padding-top: 25vw;
    }

    .right-border-align, .left-border-align{
        border: none;
        text-align: center;
        padding: 0;
    }
}
